# Binarios de Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Dependencias
vendor/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Docker
.env

# Logs
*.log

# Bases de datos locales
*.db
*.sqlite

# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
